3.0/maec-package-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
	targetNamespace="http://maec.mitre.org/XMLSchema/maec-package-3"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:maecPackage="http://maec.mitre.org/XMLSchema/maec-package-3"
	xmlns:maecBundle="http://maec.mitre.org/XMLSchema/maec-bundle-3"
	xmlns:metadata="http://xml/metadataSharing.xsd" xmlns:cybox="http://cybox.mitre.org/cybox_v1"
	xmlns:common="http://cybox.mitre.org/Common_v1"
	xmlns:URIObj="http://cybox.mitre.org/objects#URIObject"
	xmlns:SystemObj="http://cybox.mitre.org/objects#SystemObject"
	xmlns:WinSystemObj="http://cybox.mitre.org/XMLSchema/objects#WinSystemObject"
	xmlns:FileObj="http://cybox.mitre.org/objects#FileObject"
	xmlns:WinExecutableFileObj="http://cybox.mitre.org/objects#WinExecutableFileObject"
	xmlns:CodeObj="http://cybox.mitre.org/objects#CodeObject"
	xmlns:sch="http://purl.oclc.org/dsdl/schematron" version="1.0">
	<xs:import namespace="http://xml/metadataSharing.xsd"
		schemaLocation="http://grouper.ieee.org/groups/malware/malwg/Schema1.2/metadataSharing.xsd"/>
	<xs:import namespace="http://cybox.mitre.org/cybox_v1"
		schemaLocation="http://cybox.mitre.org/XMLSchema/cybox_core_v1.0(draft).xsd"/>
	<xs:import namespace="http://cybox.mitre.org/objects#SystemObject"
		schemaLocation="http://cybox.mitre.org/XMLSchema/objects/System/System_Object_1.2.xsd"/>
	<xs:import namespace="http://cybox.mitre.org/objects#URIObject"
		schemaLocation="http://cybox.mitre.org/XMLSchema/objects/URI/URI_Object_1.1.xsd"/>
	<xs:import namespace="http://cybox.mitre.org/Common_v1"
		schemaLocation="http://cybox.mitre.org/XMLSchema/cybox_common_types_v1.0(draft).xsd"/>
	<xs:annotation>
		<xs:documentation>The following is a description of the elements, types, and attributes that compose the Malware Attribute Enumeration and Characterization (MAEC) package schema.</xs:documentation>
		<xs:documentation>The MAEC Schema is maintained by The Mitre Corporation. For more information, including how to get involved in the project, please visit the MAEC website at http://maec.mitre.org.</xs:documentation>
		<xs:documentation>This schema imports the IEEE ICSG's Malware Metadata schema. More info on this schema can be found at http://grouper.ieee.org/groups/malware/malwg/Schema1.2/.</xs:documentation>
		<xs:documentation>This schema imports the CyBOX schema and object schemas. More info on CybOX can be found at http://cybox.mitre.org.</xs:documentation>
		<xs:appinfo>
			<schema>MAEC Package Schema</schema>
			<version>1.0</version>
			<date>11/01/2012</date>
			<terms_of_use>Copyright (c) 2012, The MITRE Corporation. All rights reserved.  The contents of this file are subject to the terms of the MAEC License located at http://maec.mitre.org/about/termsofuse.html. See the MAEC License for the specific language governing permissions and limitations for use of this schema.  When distributing copies of the MAEC Schema, this license header must be included.</terms_of_use>
		</xs:appinfo>
	</xs:annotation>
	<xs:import namespace="http://maec.mitre.org/XMLSchema/maec-bundle-3"
		schemaLocation="maec-bundle-schema.xsd"/>
	<xs:element name="MAEC_Packages" type="maecPackage:PackageListType">
		<xs:annotation>
			<xs:documentation>The root element of the MAEC Package schema is the MAEC_Package_List.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AnalysisEnvironmentType">
		<xs:annotation>
			<xs:documentation>The AnalysisEnvironmentType provides mechanisms for characterizing the particular hardware/software environment used in analyzing a malware instance.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="Hypervisor_System"
				type="maecPackage:HypervisorSystemType">
				<xs:annotation>
					<xs:documentation>The Hypervisor_System element characterizes the (physical) host system used in the analysis on which the VM Hypervisor runs. This element imports and extends the CybOX System Object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Analysis_Systems"
				type="maecPackage:AnalysisSystemListType">
				<xs:annotation>
					<xs:documentation>The Analysis_Systems element characterizes the system(s) (real or virtual) on which the actual analysis was performed, including information about both the hardware and software, such as the properties of its BIOS, processor architecture, and operating system. This element imports and extends the CybOX System Object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Network_Infrastructure"
				type="maecPackage:NetworkInfrastructureType">
				<xs:annotation>
					<xs:documentation>The Network_Infrastructure element captures details of the network infrastructure used in the analysis environment, such as any network protocols that are captured or manipulated.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SourceType">
		<xs:annotation>
			<xs:documentation>The SourceType provides a way of characterizing the external source of a relevant MAEC entity, such as an Analysis.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Name element refers to the name of the person linked to the source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Method" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Method element provides an abstract way of specifying the method used to obtain the data that the Source element refers to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Reference" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Reference element provides an abstract way of specifying a reference name or ID for the source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Organization" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Organization element specifies the name of the organization from which the source originated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="URL" type="URIObj:URIObjectType">
				<xs:annotation>
					<xs:documentation>The URL element specifies the URl of the external source, if applicable.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommentListType">
		<xs:annotation>
			<xs:documentation>The CommentListType provides a simple way of capturing any comments relating to MAEC entities, such as Analyses.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Comment" type="maecPackage:CommentType">
				<xs:annotation>
					<xs:documentation>The Comment element specifies a single comment pertaining to a particular MAEC entity.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AnalysisSystemListType">
		<xs:annotation>
			<xs:documentation>The AnalysisSystemListType captures a list of the systems, physical or virtual, used in the analysis of the malware.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Analysis_System"
				type="maecPackage:AnalysisSystemType">
				<xs:annotation>
					<xs:documentation>The Analysis_System element captures a single analysis system.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ToolListType">
		<xs:annotation>
			<xs:documentation>The ToolsType characterizes one or more tools, most typically associated with the analysis of a Malware Subject.</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="1">
			<xs:element maxOccurs="unbounded" name="Tool" type="common:ToolInformationType"
				minOccurs="1">
				<xs:annotation>
					<xs:documentation>The Tool element specifies a single tool in the list.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlatformListType">
		<xs:annotation>
			<xs:documentation>The PlatformListType specifies a list of software or hardware platforms.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Platform" type="common:CPESpecificationType">
				<xs:annotation>
					<xs:documentation>The Platform element specifies a single platform via a Common Platform Enumeration ID. It imports and uses the CPESpecificationType from the CybOX Common Types v1.0 draft.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommentType">
		<xs:annotation>
			<xs:documentation>The CommentType captures a comment relating to some MAEC entity.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="author" type="xs:string">
					<xs:annotation>
						<xs:documentation>The author attribute specifies the name of the author that added the comment.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="timestamp" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>The timestamp attribute specifies the date/time that the comment was added.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AnalysisSystemType">
		<xs:annotation>
			<xs:documentation>The AnalysisSystemType is intended to characterize any systems on which malware analysis is performed. It imports and extends version 1.2 of the CybOX System Object.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="SystemObj:SystemObjectType">
				<xs:sequence>
					<xs:element minOccurs="0" name="Installed_Programs"
						type="maecPackage:InstalledProgramsType">
						<xs:annotation>
							<xs:documentation>The Installed_Programs element specifies the programs installed on the OS that was used to perform the analysis. This can be useful for clarifying the nature of the analysis environment, for instance for determining whether an exploited piece of software was present, as well as for specifying any tools that may have been installed.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HypervisorSystemType">
		<xs:annotation>
			<xs:documentation>The HypervisorSystemType characterizes the VM Hypervisor host system used in the malware analysis environment.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="SystemObj:SystemObjectType">
				<xs:sequence>
					<xs:element minOccurs="0" name="VM_Hypervisor"
						type="common:CPESpecificationType">
						<xs:annotation>
							<xs:documentation>The VM_Hypervisor element refers to the name of the VM Hypervisor that hosts the operating system(s) on which the analysis was performed, if applicable, via a Common Platform Enumeration (CPE) identifier. See http://cpe.mitre.org for more information on CPE.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DynamicAnalysisMetadataType">
		<xs:annotation>
			<xs:documentation>The DynamicAnalysisMetadataType captures the metadata related to the particular dynamic analysis of a malware instance.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="Command_Line" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Command_Line element specifies the command line used to launch the subject binary. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Analysis_Duration" type="xs:float">
				<xs:annotation>
					<xs:documentation>The Analysis_Duration element specifies the duration of the overall dynamic analysis process, in seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Exit_Code" type="xs:integer">
				<xs:annotation>
					<xs:documentation>The Exit_Code element specifies the exit code with which the subject binary exited. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AnalysisType">
		<xs:annotation>
			<xs:documentation>The AnalysisType provides a way of capturing the information associated with the analysis of a malware instance, such as the subject, authors, start datetime, and other relevant data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="Source" type="maecPackage:SourceType">
				<xs:annotation>
					<xs:documentation>The Source element specifies information about the internal or external source of the analysis, if applicable.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="Analysts" type="common:PersonnelType">
				<xs:annotation>
					<xs:documentation>The Analysts element specifies the analyst(s) who performed the analysis.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Summary" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Summary element specifies a summary of the analysis that was performed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="Comments"
				type="maecPackage:CommentListType">
				<xs:annotation>
					<xs:documentation>The Comments element specifies any comments regarding the analysis that was performed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Findings_Bundle_Reference"
				type="maecBundle:BundleReferenceType">
				<xs:annotation>
					<xs:documentation>The Findings_Bundle_Reference specifies a reference to the MAEC Findings Bundle which encompasses the results and output of the Analysis in terms of the corresponding MAEC entities.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="Tools" type="maecPackage:ToolListType">
				<xs:annotation>
					<xs:documentation>The Tools element specifies information about the tool(s) used in the analysis, via the CybOX ToolInformationType.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Dynamic_Analysis_Metadata"
				type="maecPackage:DynamicAnalysisMetadataType">
				<xs:annotation>
					<xs:documentation>The Dynamic_Analysis_Metadata element specifies metadata pertaining to the dynamic analysis of the subject binary, such as the command line used, the duration of the analysis, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Analysis_Environment"
				type="maecPackage:AnalysisEnvironmentType">
				<xs:annotation>
					<xs:documentation>The Analysis_Environment element specifies attributes for characterizing the analysis environment in which the analysis was performed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Report" type="common:StructuredTextType">
				<xs:annotation>
					<xs:documentation>The Report element specifies the textual report regarding the analysis performed on the malware.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="maecPackage:AnalysisIDPattern" use="required"/>
		<xs:attribute name="type" type="maecPackage:AnalysisTypeEnum">
			<xs:annotation>
				<xs:documentation>The type attribute specifies the type of malware analysis being performed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="method" type="maecPackage:AnalysisMethodEnum">
			<xs:annotation>
				<xs:documentation>The method attribute is intended to provide a way of characterizing the analysis method used in the analysis. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ordinal_position" type="xs:positiveInteger">
			<xs:annotation>
				<xs:documentation>The ordinal_position attribute specifies the ordering of the analysis with respect to the other analyses performed on the Malware Subject.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="start_datetime" type="xs:dateTime">
			<xs:annotation>
				<xs:documentation>The start_datetime attribute specifies the date/time the analysis was started.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="complete_datetime" type="xs:dateTime">
			<xs:annotation>
				<xs:documentation>The complete_datetime attribute specifies the date/time the analysis was completed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="lastupdate_datetime" type="xs:dateTime">
			<xs:annotation>
				<xs:documentation>The lastupdate_datetime attribute specifies the date/time the analysis was last updated.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AnalysisListType">
		<xs:annotation>
			<xs:documentation>The AnalysisListType captures a list of analyses that were performed on a Malware Subject.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Analysis" type="maecPackage:AnalysisType">
				<xs:annotation>
					<xs:documentation>The Analysis element represents the metadata regarding a single analysis that was performed on the Malware Subject.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PackageListType">
		<xs:annotation>
			<xs:documentation>The PackageListType captures a list of Packages.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Package" type="maecPackage:PackageType">
				<xs:annotation>
					<xs:documentation>The Package element specifies a single Package, which encompasses 1-n Malware Subjects and any associated metadata.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PackageType">
		<xs:annotation>
			<xs:documentation>The PackageType captures either a single Malware Subject, or a collection of Malware Subjects that are related in some way (even if exact details of the relationship are unknown).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Malware_Subjects" type="maecPackage:MalwareSubjectListType">
				<xs:annotation>
					<xs:documentation>The Malware_Subjects element captures each of the Malware Subjects contained in the Package.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Grouping_Relationship"
				type="maecPackage:GroupingRelationshipType">
				<xs:annotation>
					<xs:documentation>The Grouping_Relationship element specifies the particular relationship that serves to group the Malware Subjects encompassed in this Package. This is solely for cases where more than one Malware Subject is contained within the Package.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="maecPackage:PackageIDPattern">
			<xs:annotation>
				<xs:documentation>The required id attribute specifies a unique ID for this Package. The ID must follow the pattern defined in the PackageIDPattern simple type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute fixed="1.0" name="schema_version" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>The required schema_version attribute specifies the version of the MAEC Package Schema that the document has been written in and that should be used for validation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="timestamp" type="xs:dateTime">
			<xs:annotation>
				<xs:documentation>The timestamp attribute specifies the date/time that the Package was generated.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MalwareSubjectType">
		<xs:annotation>
			<xs:documentation>The MalwareSubjectType captures the details of a single malware subject, including any corresponding Analyses, Findings Bundles, and relationships to other Malware Subjects.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="1" name="Subject_Attributes" type="cybox:ObjectType">
				<xs:annotation>
					<xs:documentation>The Subject_Attributes element captures the attributes of the object that represents the Malware Subject, via its corresponding CybOX Object. For example, a File Object would be represented via a CybOX File_Object and may have a file name, MD5 hash, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Analyses" type="maecPackage:AnalysisListType">
				<xs:annotation>
					<xs:documentation>The Analyses element captures any Analyses that were performed on the Malware Subject.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Findings_Bundles"
				type="maecPackage:FindingsBundleListType">
				<xs:annotation>
					<xs:documentation>The Findings_Bundles element specifies any Behaviors, Actions, or Objects (as MAEC Bundle entities) that were discovered for the Malware Subject. These Bundles can either be abstract, or referenced as the result of an analysis that was performed on the malware.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Relationships"
				type="maecPackage:MalwareSubjectRelationshipListType">
				<xs:annotation>
					<xs:documentation>The Relationships element captures any relationships between the Malware Subject and other Malware Subjects.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="maecPackage:MalwareSubjectIDPattern">
			<xs:annotation>
				<xs:documentation>The required id attribute specifies a unique ID for this Malware Subject. The ID must follow the pattern defined in the MalwareSubjectIDPattern simple type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MetaAnalysisType">
		<xs:annotation>
			<xs:documentation>The MetaAnalysisType captures meta-analysis entities associated with the Bundles found for a Malware Subject, such as Action Equivalencies.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="Action_Equivalencies"
				type="maecPackage:ActionEquivalencyListType">
				<xs:annotation>
					<xs:documentation>The Action_Equivalencies element captures any equivalencies between Actions contained in one or more Bundles.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Object_Equivalencies"
				type="maecPackage:ObjectEquivalencyListType">
				<xs:annotation>
					<xs:documentation>The Object_Equivalencies element captures any equivalencies between Objects contained in one or more Bundles.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MalwareSubjectRelationshipType">
		<xs:annotation>
			<xs:documentation>The MalwareSubjectRelationshipType provides a mechanism for capturing the relationships between a Malware Subject and one or more other Malware Subjects.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Malware_Subject_Reference"
				type="maecPackage:MalwareSubjectReferenceType">
				<xs:annotation>
					<xs:documentation>The Malware_Subject_Reference element provides a reference to a single Malware Subject that this relationship pertains to.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="type" use="required" type="maecPackage:MalwareSubjectRelationshipEnum">
			<xs:annotation>
				<xs:documentation>The type attribute specifies the type of relationship being captured.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MalwareSubjectRelationshipListType">
		<xs:annotation>
			<xs:documentation>The MalwareSubjectRelationshipListType captures a list of relationships between Malware Subjects.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Malware_Subject_Relationship" maxOccurs="unbounded"
				type="maecPackage:MalwareSubjectRelationshipType">
				<xs:annotation>
					<xs:documentation>The Malware_Subject_Relationship element specifies a relationship that relates tbe Malware Subject to one or more other Malware Subjects contained in the Package.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MalwareSubjectReferenceType">
		<xs:annotation>
			<xs:documentation>The MalwareSubjectReferenceType provides a mechanism for specifying a reference to a Malware Subject contained in the Package.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="malware_subject_idref" type="maecPackage:MalwareSubjectIDPattern"
			use="required">
			<xs:annotation>
				<xs:documentation>The malware_subject_idref attribute provides a reference to a Malware Subject contained in the Package, via its ID.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MalwareSubjectListType">
		<xs:annotation>
			<xs:documentation>The MalwareSubjectListType captures a list of Malware Subjects.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Malware_Subject"
				type="maecPackage:MalwareSubjectType">
				<xs:annotation>
					<xs:documentation>The Malware_Subject element represents a single Malware Subject (most commonly a file) and its associated metadata, such as Analyses, Bundles, relationships to other Malware Subjects, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FindingsBundleListType">
		<xs:annotation>
			<xs:documentation>The FindingsBundleListType captures a list of Bundles or external references to Bundles, along with any related meta-analysis entities.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="Meta_Analysis" type="maecPackage:MetaAnalysisType">
				<xs:annotation>
					<xs:documentation>The Meta_Analysis element captures any meta-analysis related entities for the Bundles inside the Findings_Bundle element, such as equivalencies.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" name="Bundle" type="maecBundle:BundleType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Findings_Bundle element captures a single MAEC Bundle, representing some set of results from analysis of the Malware Subject.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Bundle_External_Reference"
				type="URIObj:URIObjectType">
				<xs:annotation>
					<xs:documentation>The Bundle_External_Reference element specifies a single externally located MAEC Bundle (such as a file or URL) via a URI, representing some set of results from analysis of the Malware Subject.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroupingRelationshipType">
		<xs:annotation>
			<xs:documentation>The GroupingRelationshipType provides a mechanism for specifying the relationship that groups together the Malware Subjects in a Package.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="Malware_Family_Name" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Malware_Family_Name element specifies the name of the malware family referred to by the 'same_malware_family' relationship type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Malware_Class_Name" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Malware_Family_Name element specifies the name of the malware class referered to by the 'same_malware_class' relationship type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Clustering_Metadata"
				type="maecPackage:ClusteringMetadataType">
				<xs:annotation>
					<xs:documentation>The Clustering_Metadata element specifies any metadata regarding the algorithm and/or methods used for cluster the Malware Subjects in this Package.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="type" type="maecPackage:GroupingRelationshipEnum" use="required">
			<xs:annotation>
				<xs:documentation>The type attribute specifies the type of relationship that groups the Malware Subjects in the Package.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ClusteringMetadataType">
		<xs:annotation>
			<xs:documentation>The ClusteringMetadataType specifies the metadata regarding a particular method used to cluster malware.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="Clustering_Algorithm" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Cluster_Algorithm element specifies the name of the clustering algorithm used to cluster the malware.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Clustering_Description" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Clustering_Description element provides a textual description of the malware cluster, such as its information about its composition, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NetworkInfrastructureType">
		<xs:annotation>
			<xs:documentation>The NetworkInfrastructureType captures specific details about the network infrastructure used in the analysis of a Malware Subject.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="Captured_Protocols"
				type="maecPackage:CapturedProtocolListType">
				<xs:annotation>
					<xs:documentation>The Captured_Protocols element specifies a list of network protocols, along with the particular level of interaction, that the analysis environment captures or interacts with in some fashion.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActionEquivalencyType">
		<xs:annotation>
			<xs:documentation>The ActionEquivalencyType relates any Actions that are equivalent to each other, e.g., those that were found for the same Malware Subject when using different analysis tools. It can be used as a way of referencing equivalent actions as a single unit, such as for specifying the Action composition of a Behavior.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Action_Reference"
				type="cybox:ActionReferenceType">
				<xs:annotation>
					<xs:documentation>The Action_Reference element specifies a reference to a single Action that is part of the Action Equivalency.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="maecPackage:ActionEquivalencyIDPattern">
			<xs:annotation>
				<xs:documentation>The required id attribute specifies the ID for the Action Equivalency, and must be of the format specified by the ActionEquivalencyIDPattern type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ActionEquivalencyListType">
		<xs:annotation>
			<xs:documentation>The ActionEquivalencyListType captures a list of Action Equivalencies.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Action_Equivalency"
				type="maecPackage:ActionEquivalencyType">
				<xs:annotation>
					<xs:documentation>The Action_Equivalency element captures a single Action Equivalency in the list.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CapturedProtocolListType">
		<xs:annotation>
			<xs:documentation>The CapturedProtocolListType specifies a list of network protocols that a malware analysis environment may capture or interact with.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Protocol"
				type="maecPackage:CapturedProtocolType">
				<xs:annotation>
					<xs:documentation>The Protocol element specifies a single layer 4 or layer 7 network protocol captured or interacted with by the analysis environment.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CapturedProtocolType">
		<xs:annotation>
			<xs:documentation>The CapturedProtocolType specifies the details of a network protocol that is captured or otherwise manipulated during malware analysis.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="layer7_protocol" type="maecPackage:Layer7ProtocolEnum">
			<xs:annotation>
				<xs:documentation>The layer7_protocol attribute specifies the name of the Layer 7 network protocol (OSI model) captured or manipulated by the analysis environment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer4_protocol" type="maecPackage:Layer4ProtocolEnum">
			<xs:annotation>
				<xs:documentation>The layer4_protocol attribute specifies the name of the Layer 4 network protocol (OSI model) captured or manipulated by the analysis environment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port_number" type="xs:positiveInteger">
			<xs:annotation>
				<xs:documentation>The port_number attribute specifies the port number for this network protocol that is captured or manipulated by the analysis environment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="interaction_level" type="maecPackage:InteractionLevelEnum">
			<xs:annotation>
				<xs:documentation>The interaction_level element specifies the level of interaction that the analysis environment has for the specified network protocol.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ObjectEquivalencyType">
		<xs:annotation>
			<xs:documentation>The ObjectEquivalencyType relates the Objects that are equivalent to each other, e.g., those that were found through for the same Malware Subject when using different analysis tools.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="maecBundle:ObjectReferenceListType">
				<xs:attribute name="id" type="maecPackage:ObjectEquivalencyIDPattern" use="required">
					<xs:annotation>
						<xs:documentation>The required id attribute specifies the ID for the Object Equivalency, and must be of the format specified by the ObjectEquivalencyIDPattern type.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ObjectEquivalencyListType">
		<xs:annotation>
			<xs:documentation>The ObjectEquivalencyListType captures a list of Object Equivalencies.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Object_Equivalency"
				type="maecPackage:ObjectEquivalencyType">
				<xs:annotation>
					<xs:documentation>The Object_Equivalency element specifies a single Object Equivalency in the list.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PackageIDPattern">
		<xs:annotation>
			<xs:documentation>The PackageIDPattern defines the format for acceptable MAEC Package ids. A dash-delimited format is used with the id starting with the word maec followed by a unique string, followed by the three letter code 'pkg', and ending with an integer.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:ID">
			<xs:pattern value="maec-[A-Za-z0-9_\-\.]+-pkg-[1-9][0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MalwareSubjectIDPattern">
		<xs:annotation>
			<xs:documentation>The MalwareSubjectIDPattern defines the format for acceptable MAEC Malware Subject ids. A dash-delimited format is used with the id starting with the word maec followed by a unique string, followed by the three letter code 'sub', and ending with an integer.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="maec-[A-Za-z0-9_\-\.]+-sub-[1-9][0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnalysisIDPattern">
		<xs:annotation>
			<xs:documentation>The AnalysisIDPattern defines the format for acceptable MAEC Analysis ids. A dash-delimited format is used with the id starting with the word maec followed by a unique string, followed by the three letter code 'ana', and ending with an integer.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:ID">
			<xs:pattern value="maec-[A-Za-z0-9_\-\.]+-ana-[1-9][0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActionEquivalencyIDPattern">
		<xs:annotation>
			<xs:documentation>The ActionEquivalencyIDPattern defines the format for acceptable MAEC Action Equivalency ids. A dash-delimited format is used with the id starting with the word maec followed by a unique string, followed by the five letter code 'acteq', and ending with an integer.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:ID">
			<xs:pattern value="maec-[A-Za-z0-9_\-\.]+-acteq-[1-9][0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ObjectEquivalencyIDPattern">
		<xs:annotation>
			<xs:documentation>The ObjectEquivalencyIDPattern defines the format for acceptable MAEC Object Equivalency ids. A dash-delimited format is used with the id starting with the word maec followed by a unique string, followed by the five letter code 'objeq', and ending with an integer.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:ID">
			<xs:pattern value="maec-[A-Za-z0-9_\-\.]+-objeq-[1-9][0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnalysisTypeEnum">
		<xs:annotation>
			<xs:documentation>The AnalysisTypeEnum is an enumeration of types of malware analyses.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Triage"/>
			<xs:enumeration value="In-depth/Manual"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnalysisMethodEnum">
		<xs:annotation>
			<xs:documentation>The AnalysisMethodEnum is an enumeration of malware analysis methods.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Static"/>
			<xs:enumeration value="Dynamic"/>
			<xs:enumeration value="Combination"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GroupingRelationshipEnum">
		<xs:annotation>
			<xs:documentation>The GroupingRelationshipEnum is a non-exhaustive enumeration of Malware Subject grouping relationships.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="same_malware_family"/>
			<xs:enumeration value="clustered_together"/>
			<xs:enumeration value="observed_together"/>
			<xs:enumeration value="part_of_intrusion_set"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MalwareSubjectRelationshipEnum">
		<xs:annotation>
			<xs:documentation>The MalwareSubjectRelationshipEnum is a non-exhaustive enumeration of relationships between Malware Subjects.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="downloaded_by"/>
			<xs:enumeration value="dropped_by"/>
			<xs:enumeration value="downloads"/>
			<xs:enumeration value="drops"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InteractionLevelEnum">
		<xs:annotation>
			<xs:documentation>The InteractionLevelEnum is a non-exhaustive enumeration of interaction levels for network protocols in a malware analysis environment.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="high"/>
			<xs:enumeration value="low"/>
			<xs:enumeration value="honeytrap"/>
			<xs:enumeration value="live"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Layer7ProtocolEnum">
		<xs:annotation>
			<xs:documentation>The Layer7ProtocolEnum is a non-exhaustive enumeration of Layer 7 (OSI model) network protocols.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="HTTP"/>
			<xs:enumeration value="HTTPS"/>
			<xs:enumeration value="FTP"/>
			<xs:enumeration value="FTPS"/>
			<xs:enumeration value="SMTP"/>
			<xs:enumeration value="SMTPS"/>
			<xs:enumeration value="POP3"/>
			<xs:enumeration value="POP3S"/>
			<xs:enumeration value="IRC"/>
			<xs:enumeration value="DNS"/>
			<xs:enumeration value="RDP"/>
			<xs:enumeration value="RPC"/>
			<xs:enumeration value="SSH"/>
			<xs:enumeration value="Telnet"/>
			<xs:enumeration value="Unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Layer4ProtocolEnum">
		<xs:annotation>
			<xs:documentation>The Layer4ProtocolEnum is an enumeration of Layer 4 (OSI model) network protocols.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="TCP"/>
			<xs:enumeration value="UDP"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="InstalledProgramsType">
		<xs:annotation>
			<xs:documentation>The InstalledProgramsType captures the programs installed on a particular operating system image.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Program" type="common:CPESpecificationType">
				<xs:annotation>
					<xs:documentation>The Program element specifies a single program that is installed on the system. It imports and uses the CPESpecificationType from the Cybox v1.0 Common Types draft.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
